
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body.scroll{
    overflow:hidden;
}
li{
    list-style:none;
}
a{
    text-decoration: none;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.pop_list_container{
    width:100%;
    height:100vh;
    background-color:#212121;
    position:fixed;
    z-index:10;
    clip-path: circle(100px at 0% -20%);
    transition:all 1s ease-out;
    pointer-events:none;
    display:none;
    .pop_list{
        width:100%;
        height:100%;
        display:flex;
        flex-flow:column;
        align-items:center;
        justify-content:space-around;
        li{
            a{
                font: 400 14px/19px Open Sans;
                letter-spacing: 5.6px;
                color: #fff;
                opacity: 1;
                position:relative;
                &::after{
                    content:"";
                    display:block;
                    position:absolute;
                    bottom:-3px;
                    left:-8%;
                    width:110%;
                    height:2px;
                    background-color:#fff;
                    transform:scaleX(0);
                    transform-origin:100% 50%;
                    transition:transform 0.3s ease-in-out;
                }
                &:hover::after{
                    height:2px;
                    transform:scaleX(1);
                    transform-origin:0 50%;
                }
            }
        }
    }
    &.open2{
        clip-path: circle(1000px at 10% -10%);
        pointer-events:all;
    }
}
.hero_section{
    background-image:url(../img/aa.png);
    background-position: center;
    background-size: cover;
    .hero_container{
        width:60%;
        margin:auto;
        overflow:hidden;
            .header{
                margin-top:44px;
                display:flex;
                justify-content: space-between;
                align-items:center;
                .header_headline{
                    position: relative;
                    h1{
                        font: 400 45px/60px Open Sans;
                        letter-spacing: 0px;
                        color: #212121;
                        opacity: 1;
                        position:relative;
                        z-index:2;
                    }
                    .circle{
                        width:64px;
                        height:64px;
                        border-radius:50%;
                        background-color:#FFF700;
                        position:absolute;
                        top:0;
                        left:50%;
                        transform:translateX(-50%);
                    }
                }
                .header_list_container{
                    display:flex;
                    align-items:center;
                    position:relative;
                    .hamburger_button{
                        background:transparent;
                        outline:none;
                        border:none;
                        display:none;
                        position:absolute;
                        left:0;
                        top:50%;
                        transform:translateY(-50%);
                        z-index:11;
                        .hamburger{
                            position:relative;
                            .first_line{
                                position:absolute;
                                width:21px;
                                height:2px;
                                top:0;
                                left:0;
                                background-color:#212121;
                                transition:all 0.5s ease-in;
                                &.change{
                                    background-color:white;
                                    transform:rotate(45deg);
                                    top:6px;
                                }
                            }
                            .second_line{
                                position:absolute;
                                width:15px;
                                height:2px;
                                top:6px;
                                left:0;
                                background-color:#212121;
                                transition:all 0.5s ease-in;
                                &.change{
                                    background-color:white;
                                    display:none;
                                }
                            }
                            .third_line{
                                position:absolute;
                                width:21px;
                                height:2px;
                                top:12px;
                                left:0;
                                background-color:#212121;
                                transition:all 0.5s ease-in;
                                &.change{
                                    background-color:white;  transform:rotate(-45deg);
                                    top:6px;
                                }
                            }
                        }
                    }
                    .header_list{
                        display:flex;
                        align-items:center;
                        transition-delay:2s;
                        li{
                            margin-left:48px;
                            a{
                                font: 400 14px/19px Open Sans;
                                letter-spacing: 5.6px;
                                color: #212121;
                                opacity: 1;
                                position:relative;
                                &::after{
                                    content:"";
                                    display:block;
                                    position:absolute;
                                    bottom:-3px;
                                    left:-8%;
                                    width:110%;
                                    height:2px;
                                    background-color:#212121;
                                    transform:scaleX(0);
                                    transform-origin:100% 50%;
                                    transition:transform 0.3s ease-in-out;
                                }
                                &:hover::after{
                                    height:2px;
                                    transform:scaleX(1);
                                    transform-origin:0 50%;
                                }
                            }
                        }
                        &.vanish{
                            display:none;
                        }
                    }
                    .search{
                        position:relative;
                        margin-left:48px;
                        margin-right:10px;
                        input{
                            width:35px;
                            height:35px;
                            outline:none;
                            border:2px solid #E8E8E8;
                            border-radius:50%;
                            transition:width 0.2s ease-in-out, border-radius 0.5s ease-in-out, padding 0.2s;
                            transition-delay: 0.2s;
                            font: 400 17px/27px Open Sans;
                            letter-spacing: 0px;
                            color: #212121;
                            opacity: 1;
                            &.open{
                                width:300px;
                                position:unset;
                                padding:5px 30px 5px 15px;
                                border-radius:5px;
                                &::placeholder{
                                    opacity:1;
                                }
                            }
                            &::placeholder{
                                font: 400 17px/27px Open Sans;
                                letter-spacing: 0px;
                                color: #212121;
                                opacity: 0;
                                transition:opacity 0.2s ease-in-out;
                                transition-delay:0.3s;
                            }
                        }
                        .search_button{
                            background:transparent;
                            outline:none;
                            border:none;
                            cursor:pointer;
                            position:absolute;
                            top:0;
                            right:0;
                            width:35px;
                            height:35px;
                            &::before{
                                content: "";
                                width: 2px;
                                height: 15px;
                                background-color: #E8E8E8;
                                position: absolute;
                                transform:translate(20px,18px)rotate(-45deg);
                                bottom: 9px;
                                right: 18px;
                                transition: 0.3s;
                            }
                            &.rotate{
                               &::before{
                                   transform:translate(0px,0px) rotate(-45deg);
                                   background-color: #212121;
                                   width:1px;
                               }
                               &::after{
                                    content: "";
                                    width: 1px;
                                    height: 15px;
                                    background-color: #212121;
                                    position: absolute;
                                    transform: rotate(45deg);
                                    bottom:9px;
                                    right: 18px;
                                    transition: 0.3s;
                               }
                            }
                        }
                    }
                }
            }
            .hero_info{
                margin:110px 0 144px 0;
                width:44%;
                h2{
                    font: 400 94px/125px Julius Sans One;
                    letter-spacing: 5.26px;
                    color: #212121;
                    opacity: 1;
                    font-weight:bold;
                }
                p{  
                    margin-top:45px;
                    font: 400 18px/27px Karma;
                    letter-spacing: 0px;
                    color: #9E9E9E;
                    opacity: 1;
                }
                a{
                    margin-top:64px;
                    font: 400 14px/19px Open Sans;
                    letter-spacing: 1.68px;
                    color: #FFFFFF;
                    opacity: 1;
                    display:inline-block;
                    padding:18px 48px;
                    background-color:#212121;
                    border:1px solid #212121;
                    transition:all 300ms ease-in;
                    &:hover{
                        background-color:transparent;
                        color:#212121;
                    }
                }
            }
    }
}
.about_section{
    overflow:hidden;
    background-image: url(../img/bb.png);
    background-position: center;
    background-size:cover;
    .about_container{
        width:60%;
        margin:225px auto 45px auto;
        display:flex;
        justify-content:flex-start;
        align-items:center;
        height:409px;
        .about_img{
            width:34%;
            max-height:100%;
            // height:100%;
            // background-image:url(../img/MaskGroup2.png);
            // background-position:center;
            // background-size:contain;
            // background-repeat:no-repeat;
            img{
                width:100%;
                object-fit: contain;
            }
        }
        .about_info{
            background-color:white;
            display:flex;
            flex-flow:column;
            align-items:center;
            justify-content: center;
            width:66%;
            height:100%;
            padding:0 8%;
            h2{
                font: 400 32px/43px Julius Sans One;
                letter-spacing: 3.84px;
                color: #212121;
                opacity: 1;
                font-weight: bold;
            }
            p{  
                margin-top:40px;
                text-align: center;
                font: 400 18px/27px Karma;
                letter-spacing: 0px;
                color: #9E9E9E;
                opacity: 1;
            }
            a{  
                margin-top:56px;
                font: 400 14px/19px Open Sans;
                letter-spacing: 1.68px;
                color: #212121;
                opacity: 1;
                text-transform: uppercase;
                position: relative;
                &::after{
                    content:"";
                    display:block;
                    position: absolute;
                    bottom:-3px;
                    left:-25%;
                    transform:translateX(18%);
                    height:2px;
                    width:110%;
                    background-color:#212121;
                }
            }
        }
    }
}
.trip_section{
    overflow:hidden;
    .trip_container{
        width:60%;
        margin:125px auto;
        display:grid;
        grid-template-columns: repeat(3,1fr);
        // grid-column-gap: 176px;
        grid-column-gap:16%;
        .trip_imgs{
            display:flex;
            justify-content: center;
            align-items:center;
            background-color:#FBFBFB;
            width:160px;
            height:160px;
            margin:auto;
            border-radius:50%;
        }
        .trip_info{
            padding-top:35px;
            h2{ 
                font: 400 23px/31px Julius Sans One;
                letter-spacing: 2.76px;
                color: #212121;
                opacity: 1;
                text-align:center;
            }
            p{
                text-align: center;
                font: 400 16px/24px Karma;
                letter-spacing: 0px;
                color: #9E9E9E;
                opacity: 1;
                margin-top:23px;
            }
        }
        .trip_item1{
            padding-top:0;
            padding-bottom:35px;
        }
    }
}
.places_section{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    align-items:flex-start;
    .places_imgs{
        display:flex;
        .places_img1,
        .places_img3{
            width:39.8%;
            img{
                width:100%;
            }
            .places_info-2{
                display:none;
            }
            button{
                display:none;
            }
        }
        .places_img2{
            width:22%;
            img{
                width:100%;
            }
            .places_info-2{
                display:none;
            }
            button{
                display:none;
            }
        }
    }
    .places_container{
        width:60%;
        margin:43px auto 0 auto;
        display:flex;
        justify-content: space-between;
        .places_info{
            width:24%;
            display:flex;
            flex-flow:column;
            justify-content: flex-start;
            h2{
                font: 400 23px/31px Julius Sans One;
                letter-spacing: 2.76px;
                color: #212121;
                opacity: 1;
                font-weight:bold;
            }
            p{  
                margin-top:23px;
                font: 400 16px/24px Karma;
                letter-spacing: 0px;
                color: #9E9E9E;
                opacity: 1;
            }
            a{
                margin-top:24px;
                font: 400 14px/19px Open Sans;
                letter-spacing: 1.68px;
                color: #212121;
                opacity: 1;
                position:relative;
                &::after{
                    content:"";
                    display:block;
                    position: absolute;
                    bottom:-8px;
                    left:-25%;
                    transform:translateX(13%);
                    height:2px;
                    width:120%;
                    background-color:#212121;
                }
            }
        }
        .places_info1{
            align-items:flex-start;
            h2,p,a{
                text-align:left;
            }
        }
        .places_info2{
            align-items:center;
            h2,p,a{
                text-align:center;
            }
        }
        .places_info3{
            align-items:flex-end;
            h2,p,a{
                text-align:right;
            }
        }
    }
}
.hotel_section{
    overflow:hidden;
    margin-top:128px;
    background-color:#FBFBFB;
    .hotel_container{
        width:60%;
        margin:73px auto 80px auto;
        overflow:hidden;
        h1{
            text-align:center;
            font: 400 32px/43px Julius Sans One;
            letter-spacing: 3.84px;
            color: #212121;
            opacity: 1;
            font-weight:bold;
        }
        .hotel_items{
            margin-top:80px;
            // background:lightcoral;
            .hotel_item{
                display:inline-flex;
                flex-flow:column;
                align-items:flex-start;
                justify-content:flex-start;
                margin:0 15px;
                outline:none;
                .hotel_img{
                    height:200px;
                    width:100%;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                .hotel_info{
                    background-color:white;
                    display:flex;
                    flex-flow:column;
                    align-items:center;
                    justify-content: flex-start;
                    padding:27px 0 40px 0;
                    h2{
                        font: 400 23px/31px Julius Sans One;
                        letter-spacing: 2.76px;
                        color: #212121;
                        opacity: 1;
                        text-align:center;
                    }
                    p{
                        text-align: center;
                        font: 400 16px/24px Karma;
                        letter-spacing: 0px;
                        color: #9E9E9E;
                        opacity: 1;
                        padding:0 10px;
                        margin-top:23px;
                    }
                    .hotel_price{
                        margin-top:23px;
                        h3{
                            font: 700 24px/32px Karma;
                            letter-spacing: 2.88px;
                            color: #212121;
                            opacity: 1;
                            text-align:center;
                        }
                    }
                    button{
                        margin-top:35px;
                        background-color:transparent;
                        font: 400 14px/19px Open Sans;
                        letter-spacing: 1.68px;
                        color: #212121;
                        opacity: 1;
                        padding:18px 40px;
                        border:1px solid #212121;
                        outline:none;
                        transition: all 300ms ease-in;
                        cursor:pointer;
                        position:relative;
                        &:hover{
                            background-color:#212121;
                            color:white;
                            border:1px solid white;
                        }
                    }
                }
            }
        }
        .hotel_arrows{
            width:100%;
            display:flex;
            justify-content: center;
            margin-top:80px;
            button{
                background:transparent;
                border:none;
                outline:none;
                i{
                    font-size:20px;
                    cursor: pointer;
                }
            }
            .left_arrow{
                margin-right:48px;
            }
            .right_arrow{
                margin-left:48px;
            }
        }
    }
}
.footer{
    overflow:hidden;
    .footer_container{
        width:60%;
        margin:65px auto;
        background-color:#fff;
        display:flex;
        justify-content: space-between;
        align-items:center;
        .footer_list{
            display:flex;
            justify-content: flex-start;
            align-items:center;
            li{
                margin-right:48px;
                &:last-child{
                    margin-right:0;
                }
                a{
                    font: 400 14px/19px Open Sans;
                    letter-spacing: 5.6px;
                    color: #212121;
                    opacity: 1;
                    position:relative;
                    &::after{
                        content:"";
                        display:block;
                        position:absolute;
                        bottom:-3px;
                        left:-8%;
                        width:110%;
                        height:2px;
                        background-color:#212121;
                        transform:scaleX(0);
                        transform-origin:100% 50%;
                        transition:transform 0.3s ease-in-out;
                    }
                    &:hover::after{
                        height:2px;
                        transform:scaleX(1);
                        transform-origin:0 50%;
                    }
                }
            }
        }
        .copyright_part{
                h2{ 
                    text-align: center;
                    font: 400 32px/43px Open Sans;
                    letter-spacing: 0px;
                    color: #9E9E9E;
                    opacity: 1;
                }
                p{
                    text-align: center;
                    font: 400 11px/15px Open Sans;
                    letter-spacing: 0px;
                    color: #9E9E9E;
                    opacity: 1;
                }
        }
        .media_part{
            a{  
                margin-left:32px;
                &:first-child{
                    margin-left:0;
                }
                i{
                    color:#9E9E9E;
                    font-size:20px;
                }
            }
        }
    }
}

@media only screen and (max-width:1300px){
    .container{
        width:80% !important;
    }
}
@media only screen and (max-width:1080px){
    .hero_section{
        .hero_container{
            .header{
                .header_headline{
                    h1{
                        font: 400 38px/50px Open Sans;
                    }
                }
            }
            .hero_info{
                width:57%;
                h2{
                    font: 400 82px/98px Julius Sans One;
                    font-weight:bold;
                }
            }
        }
    }
    .trip_section{
        .trip_container{
            grid-column-gap:12%;
            .trip_imgs{
                width:145px;
                height:145px;
            }
        }
    }
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    margin:0 20px;
                    .hotel_info{
                        p{
                            padding:0 5px;
                            font: 400 17px/24px Karma;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:870px){
    .container{
        width:85% !important;
    }
    .hero_section{
        .hero_container{
            .header{
                .header_headline{
                    h1{
                        font: 400 38px/50px Open Sans;
                    }
                }
            }
            .hero_info{
                margin:100px 0 90px 0;
                h2{
                    font: 400 67px/68px Julius Sans One;
                    font-weight: bold;
                }
                a{
                    padding:15px 34px;
                }
            }
        }
    }
    .about_section{
        .about_container{
            flex-flow:column;
            height:unset;
            .about_img{
                width:50%;
                img
            }
            .about_info{
                width:85%;
                padding-top:30px;
                padding-bottom:30px;
                margin-top:20px;
            }
        }
    }
    .trip_section{
        .trip_container{
            grid-template-columns: 1fr 1.5fr;
            grid-row-gap:30px;
            grid-column-gap:40px;
            .trip_info{
                padding:0;
            }
            .trip_item1{
                grid-column:2/3;
                grid-row:3/4;
            }
            .trip_item3{
                grid-column:2/3;
                grid-row:2/3;
            }
            .trip_item2{
                grid-column:2/3;
                grid-row:1/2;
            }
        }
    }
    .places_section{
        flex-flow:row;
        justify-content: space-between;
        align-items: stretch;
        width:85%;
        margin:auto;
        .places_imgs{
            flex-flow:column;
            width:48%;
            .places_img1{
                width:100%;
            }
            .places_img2{
                width:100%;
                margin-top:20px;
            }
            .places_img3{
                width:100%;
                margin-top:20px;
            }
        }
        .places_container{
            width:45% !important;
            margin-top:0;
            flex-flow:column;
            justify-content: space-between;
            .places_info{
                width:100%;
                align-items: center;
                padding:0 10px;
                p,a,h2{
                    text-align:center;
                }
                h2{
                    font: 400 19px/31px Julius Sans One;
                }
                p{
                    font: 400 15px/24px Karma;
                }
            }
            .places_info1{
                margin-top:30px;
            }
            .places_info3{
                margin-bottom:30px;
            }
        }
    }
    .footer{
        .footer_container{
            position:relative;
            padding-bottom:100px;
            .copyright_part{
                position:absolute;
                bottom:0;
                left:50%;
                transform:translateX(-50%);
            }
        }
    }
}
@media only screen and (max-width:725px){
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    margin:0 15px;
                }
            }
        }
    }
    .places_section{
        .places_container{
            .places_info{
                padding:0 5px;
                p,a{
                    margin-top:8px;
                }
                h2{
                    font: 400 16px/20px Julius Sans One;
                }
                p{
                    font: 400 14px/19px Karma;
                }
                a{
                    font: 400 12px/19px Open Sans;
                    &::after{
                        bottom:0;
                    }
                }
            }
            .places_info1{
                margin-top:10px;
            }
            .places_info3{
                margin-bottom:10px;
            }
        }
    }
}
@media only screen and (max-width:612px){
    .hero_section{
        .hero_container{
            .header{
                .header_headline{
                    h1{
                        font: 400 24px/38px Open Sans;
                    }
                    .circle{
                        width: 38px;
                        height: 38px;
                    }
                }
            }
            .hero_info{
                width:70%;
                h2{
                    font: 400 45px/49px Julius Sans One;
                    font-weight: bold;
                }
                p{
                    margin-top: 35px;
                    font: 400 16px/27px Karma;
                }
                a{
                    margin-top:35px;
                    font: 400 13px/19px Open Sans;
                    padding:10px 25px;
                }
            }
        }
    }
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    .hotel_info{
                        p{
                            padding:0 10px;
                            font: 400 18px/24px Karma;
                        }
                    }
                }
            }
        }
    }
    .footer{
        .footer_container{
            .footer_list{
                li{
                    margin-right:15px;
                }
            }
        }
    }
}
@media only screen and (max-width:570px){
    .container{
        width:90% !important;
    }
    .trip_section{
        .trip_container{
            grid-template-columns: 1fr;
            grid-row-gap:30px;
            grid-column-gap:0;
            .trip_info{
                padding:0;
                max-width:300px;
                margin:auto;
            }
            .trip_item1{
                grid-column:1/2;
                grid-row:6/7;
            }
            .trip_item3{
                grid-column:1/2;
                grid-row:4/5;
            }
            .trip_item2{
                grid-column:1/2;
                grid-row:2/3;
            }
        }
    }
    .places_section{
        width:90%;
        .places_imgs{
            width:100%;
            .places_img1,
            .places_img2,
            .places_img3{    
                position:relative;
                overflow:hidden;
                button{
                    display:block;
                    background:none;
                    outline:none;
                    border:none;
                    position:absolute;
                    top:20px;
                    right:25px;
                    z-index:3;
                    transition:transform 0.3s ease-in;
                    i{
                        font-size:25px;
                        color:#fff;
                    }
                    &.spin{
                        transform:rotateZ(180deg);
                    }
                }
                .places_info-2{
                    display: flex;
                    flex-flow:column;
                    align-items:center;
                    justify-content:center;
                    width:100%;
                    height:99%;
                    background-color:rgba(33, 33, 33,0.7);
                    position:absolute;
                    top:0;
                    left:0;
                    transform: translateY(-110%);
                    transition:transform 0.5s ease-in-out;
                    padding:0 20px;
                    h2{
                        font: 400 23px/31px Julius Sans One;
                        letter-spacing: 2.76px;
                        color: #fff;
                        opacity: 1;
                        font-weight:bold;
                    }
                    p{  
                        margin-top:23px;
                        font: 400 16px/24px Karma;
                        letter-spacing: 0px;
                        color: #fff;
                        opacity: 1;
                        text-align:center;
                    }
                    a{
                        margin-top:24px;
                        font: 400 14px/19px Open Sans;
                        letter-spacing: 1.68px;
                        color: #fff;
                        opacity: 1;
                        position:relative;
                        &::after{
                            content:"";
                            display:block;
                            position: absolute;
                            bottom:-8px;
                            left:-25%;
                            transform:translateX(13%);
                            height:2px;
                            width:120%;
                            background-color:#9E9E9E;
                        }
                    }
                    &.appair{
                        transform: translateY(0);
                    }
            }
            }
        }
        .places_container{
            display:none;
        }
    }
}
@media only screen and (max-width:555px){
    // .header_list{
    //     display:none !important;
    // }
    .pop_list_container{
        display:block;
    }
    .hero_section{
        .hero_container{
            .header{
                flex-flow:column;
                margin-top:20px;
            }
            .header_list_container{
                margin-top:10px;
                width:100%;
                justify-content:flex-end;
                .hamburger_button{
                    display:block !important;
                }
                .header_list{
                    display:none !important;
                }
            }
        }
    }
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    margin:0 10px;
                }
            }
        }
    }
}
@media only screen and (max-width:485px){
    .search input.open{
        width:200px !important;
        position:unset;
        padding:5px 30px 5px 15px;
        border-radius:5px;
        &::placeholder{
            opacity:1;
        }
    }
    .about_info{
        width:100% !important;
        padding-left:3% !important;
        padding-right:3% !important;
        p{
            font: 400 14px/27px Karma !important;
        }
        a{
            font: 400 13px/19px Karma !important;
            &::after{
                bottom:0 !important;
            }
        }
    }
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    .hotel_info{
                        p{
                            padding:0 20px;
                            font: 400 20px/24px Karma;
                        }
                    }
                }
            }
        }
    }
    .footer{
        .footer_container{
            flex-flow:column;
            justify-content:flex-start;
            padding-bottom:85px;
            .footer_list{
                flex-flow:column;
                align-items:center;
                li{
                    margin-right:0;
                    margin-top:8px;
                    padding-bottom:3px;
                }
            }
            .media_part{
                margin-top:40px;
            }
        }
    }
}
@media only screen and (max-width:392px){
    .hotel_section{
        .hotel_container{
            .hotel_items{
                .hotel_item{
                    .hotel_info{
                        p{
                            padding:0 15px;
                            font: 400 15px/24px Karma;
                        }
                    }
                }
            }
        }
    }
}