*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 60%;
  margin: 0 auto;
}
li{
  list-style: none;
  a{
    color: #212121;
  }
}
a{
  text-decoration: none;
}
.black-btn{
  text-transform: uppercase;
  color: white;
  background-color: #000;
  padding: 15px 30px;
  border: none;
}
a.more-link{
  padding: 10px;
  border-bottom: solid 2px #212121;
}
header{
  padding-top: 35px;
  background-image: url(../img/headerBackground.png);
  width: 100%;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  .top-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-nav{
    ul{
      display: flex;
      align-items: center;
      li{
        margin-left: 20px;
      }
      .search-btn{
        background: transparent;
        border: none;
      }
    }
  }
  .main-header{
    margin-top: 20vh;
    h1{
      font-size: 80px;
      margin-bottom: 30px;
    }
    p{
      font-size: 16px;
      width: 50%;
      margin-bottom: 40px;
    }
  }
}
main{
  .about{
    background-image: url(../img/top-main--bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
    padding-top: 35vh;
    .about-item{
      display: grid;
      background-color: #fff;
      grid-template-columns: 0.97fr 2fr;
      grid-template-rows: 450px;
      &>#boy-radar{
        background-image: url(../img/boy-radar.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
      &>.text-part_about{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 10% 10%;
        p{
          padding: 35px 0;
          line-height: 25px;
        }
      }
    }
  }
  .info_about{
    .info{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 130px;
      margin-bottom: 130px;
      flex-wrap: nowrap;
      .info_item{
        display: flex;
        width: 27%;
        flex-direction: column;
        text-align: center;
        align-items: center;
        &.unic{
          p{
            margin: 25px 0;
            
          }
          h3{
            margin: 0;
          }
        }
        h3{
          margin: 25px 0;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 400;
          letter-spacing: 3px;
        }
        &>div{
          width: 10em;
          height: 10em;
          border-radius: 50%;
          background-color: #FBFBFB;
          display: flex;
          justify-content: center;
          align-items: center;
          p{
            font-size: 14px;
            color: #9E9E9E;
          }
          
        }
      }
    }
  }
}


footer{
  .grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
    align-content: center;
    .footer-nav{
      ul{
        display: flex;
        li{
          margin-right: 20px;
          a{
            letter-spacing: 3px;
          }
        }
      }
    }
    .header{
      text-align: center;
      div{
        text-align: right;
      }
    }
    .social-media_icons{
      display: flex;
      justify-content: flex-end;
      padding-right: 10px;
    }
  }
}