<footer>
    <div class="container">
      <div class="grid-container">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">Help</a></li>
          </ul>
        </nav>
        <div class="header">
          <div>
            <h2>Tourism</h2>
            <p>&copy; 2018 Tourism. All rights reserved</p>
          </div>
        </div>
        <div class="social-media_icons">
          <i class="fa fa-twitter lg" style="font-size: 1.2em; margin-left: 0.5em;"  aria-hidden="true"></i> 
          <i class="fa fa-facebook lg" style="font-size: 1.2em; margin-left: 0.5em;" aria-hidden="true"></i>
        </div>
      </div>
    </div>
</footer>
<script src="js/all.js"></script>
</body>
</html>
