<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="../img/logo-header.png" />
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css"/>
    <!-- Add the slick-theme.css if you want default styling -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css"/>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Tourism</title>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Karma:wght@400;700&family=Open+Sans&display=swap');
    </style>
  </head>
<body>
    <header>
      <div class="container">
        <div class="top-header">
          <img src="../img/logo-header.png" alt="logo">
          <nav class="header-nav">
            <ul>
              <li><a href="#">Features</a></li>
              <li><a href="#">Contacts</a></li>
              <li>
                <!-- <div class="input-div">
                  <input type="search" name="" id="search-input" placeholder="Search">
                </div>
                <div class="search_div"> -->
                  <button class="search-btn"><img src="../img/search@2x.png" alt="search icon"></button>
                <!-- </div> -->
              </li>
            <!-- <div class="input_div">
							<input type="search" name="" id="search_input" placeholder="Search">
						</div>
						<div class="search_div">
								<button>
									<i class="fas fa-search"></i>
									<p>Search</p>
								</button>
            </div>
          -->
            </ul>
          </nav>
        </div>
        <div class="main-header">
          <h1>LUXURY</h1>
          <p>Dozens of flights were reportedly cancelled at Beijing’s airport, the world’s second busiest, and authorities.</p>
          <button class="black-btn">To Leave</button>
        </div>
      </div>
    </header>