<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />    
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karma&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
    <title>Tourism</title>
  </head>
<body>
  <header class="container">
    <img src="./img/2@2x.png" alt="">
<div>
    <h2>Tourism<span></span></h2>  
    <div>
        <a href="">Features</a>
        <a href="">Contacts</a>
        <a href=""><img src="../img/search.png" alt=""></a>
    </div>
</div>
<div class="Luxury">
  <h1>LUXURY</h1>
  <p>Dozens of flights were reportedly cancelled at Beijing’s airport, the world’s second busiest, and authorities.</p>
  <a href="">TO LEAVE</a>
</div>
</header>